/* line 5, ../sass/screen.scss */
html {
  background-color: #a6278f;
}

/* line 10, ../sass/screen.scss */
.wrap {
  background-color: white;
  margin: 0 auto;
}

/* line 16, ../sass/screen.scss */
nav {
  width: 400px;
}
/* line 18, ../sass/screen.scss */
nav ul {
  list-style: none;
}
/* line 21, ../sass/screen.scss */
nav ul li {
  display: inline-block;
}
/* line 23, ../sass/screen.scss */
nav ul li > a {
  display: block;
}
/* line 25, ../sass/screen.scss */
nav ul li > a:hover {
  color: #a6278f;
}
